@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<center>
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <div>
                        <div style="box-sizing:border-box;margin:0;padding:0 40px">
                            <h2 style="text-align:left">Xin chào,</h2>
                            <p style="text-align:left">Mẫu thời gian chờ vượt quá thời gian lấy mẫu.</p>
                            <p style="text-align:left"><b>Mẫu:</b></p>
                            <table style="width:100%">
                                <thead style="background:#f1f5fa;">
                                    <tr>
                                        <td style="padding:10px;">Tên sản phẩm</td>
                                        <td style="padding:10px;">Mã sản phẩm</td>
                                        <td style="padding:10px;">Số lô</td>
                                        <td style="padding:10px;">Công đoạn</td>
                                        <td style="padding:10px;">Mẫu</td>
                                        <td style="padding:10px;">Ngày lấy mẫu</td>
                                        <td style="padding:10px;">Chi tiết</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.data)
                                    {
                                        <tr>
                                            <td style="padding:10px;">@item.tensp</td>
                                            <td style="padding:10px;">@item.masp</td>
                                            <td style="padding:10px;">@item.malo</td>
                                            <td style="padding:10px;">@item.stage.name</td>
                                            <td style="padding:10px;">
                                                @foreach (var tmp in item.times)
                                                {
                                                    <div>@tmp.name</div>
                                                }
                                            </td>
                                            <td style="padding:10px;">
                                                @foreach (var tmp in item.times)
                                                {
                                                    <div>@tmp.date_theory.ToString("yyyy-MM-dd")</div>
                                                }
                                            </td>
                                            <td style="padding:10px;"><a href="@(Model.link + "hold/Edit/" + item.id)" target="_blank">Link</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <p style="text-align:left">Trân trọng.</p>
                            <p style="text-align:left">ASTA</p>
                            <br>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</center>